<nav>
    <div class="nav-wrapper">
        <a href="{{ path('homepage') }}" class="brand-logo">GEScom</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-large" class="right hide-on-med-and-down">
            <li><a href="{{ path('category') }}">Catégories</a></li>
            <li><a href="{{ path('product') }}">Produits</a></li>
            <li><a href="{{ path('supplier') }}">Fournisseurs</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li><a href="">Catégories</a></li>
            <li><a href="">Produits</a></li>
            <li><a href="">Fournisseurs</a></li>
        </ul>
    </div>
</nav>
