{% extends('@Gescom/base.html.twig') %}

{% block body %}
    <div class="row margeTop">
        <div class="col s12 center-align">
            <h5>Ajouter un produit</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}