{% extends('@Gescom/base.html.twig') %}

{% block body %}
    <div class="row margeTop">
        <div class="col s6 offset-s3">
            <div class="collection">
                    <a href="#!" class="collection-item">
                        <span class="badge">{{ totalProducts }}</span>
                        Nombre de produits
                    </a>
                    <a href="#!" class="collection-item">
                        <span class="badge">{{ totalSuppliers }}</span>
                        Nombre de fournisseurs
                    </a>
                    <a href="#!" class="collection-item">
                        <span class="badge">{{ totalCategories }}</span>
                        Nombre de catégories
                    </a>
            </div>
        </div>
    </div>
{% endblock %}
