{% extends('@Gescom/base.html.twig') %}

{% block body %}
    <div class="row margeTop">
        <div class="col s8 offset-s2">
            <h4>Catégorie</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s8 offset-s2">
            <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path("add_category") }}">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
{% endblock %}